{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Bienvenu</h4>
                        
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Inscription</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Form step</h4>
                        </div>
                        <div class="card-body">
                                <h4 class="text-center mb-4">Inscription des Utilisateurs</h4>
                               
                                {% if form_errors(registrationForm.confirm_Password) %}
                                    <div class="alert alert-danger">
                                        {{ form_errors(registrationForm.confirm_Password) }}
                                    </div>
                                {% endif %}
                                
                                <div class="danger">
                                    {{ form_errors(registrationForm) }}
                                </div>

                                {{ form_start(registrationForm) }}
                                        <label><strong>Username</strong></label>
                                    {{ form_row(registrationForm.fonction, {'attr':{'type':"username",' class':"form-control",'label':'Username"' ,'placeholder':"username"}}) }}                                 
                                    {{ form_row(registrationForm.username, {'attr':{'type':"username",' class':"form-control",'label':'Username"' ,'placeholder':"username"}}) }}                                   
                                    {{ form_row(registrationForm.email, {'attr':{'type':"email",' class':"form-control",'label':'Email' ,'placeholder':"hello@example.com"}}) }}
                                    {{ form_row(registrationForm.plainPassword, {'attr':{'type':"password",' class':"form-control",'label':'Password', 'placeholder':"***********"}}, {
                                        label: 'Password'
                                    }) }}
                                    {{ form_row(registrationForm.confirm_Password, {'attr':{'type':"password",' class':"form-control" ,'placeholder':"*************"}}) }}
                                    {{ form_row(registrationForm.agreeTerms) }}
                                    <div class="text-center mt-4">
                                        <button type="submit" class="btn btn-primary btn-block">Inscrire</button>
                                    </div>    
                                {{ form_end(registrationForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
