{% extends 'base.html.twig' %}

{% block title %}Classe{% endblock %}

{% block body %}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>ALL Classe</h2>
            <small>Taken from <a href="https://datatables.net/" target="_blank">datatables.net</a></small>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>All Directeur </h2>
                        <ul class="header-dropdown">
                            <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more-vert"></i> </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a type="button" href="{{ path('admin_classe_ajouter') }}" class="btn btn-raised btn-primary waves-effect" style="margin-left:80%">+Ajouter une Classe</a>
        
                    <div class="body table-responsive">
                            <table class="table table-bordered table-striped table-hover dataTable js-exportable">
    

                    
                                <tbody>
                                    <tr>
                                        <th>Id</th>
                                        <td>{{ classe.id }}</td>
                                    </tr>
                                    <tr>
                                        <th>Code</th>
                                        <td>{{ classe.code }}</td>
                                    </tr>
                                    <tr>
                                        <th>Libelle</th>
                                        <td>{{ classe.libelle }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="display: flex;">
                                <a class="btn btn-default" href="{{ path('admin_classe_liste') }}">cancel</a>

                                <a href="{{ path('admin_classe_modifier', {'id': classe.id}) }}">edit</a>

                                {{ include('admin/classe/_delete_form.html.twig') }}
                            </div>
                            
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table --> 
</div>
</section>            
{% endblock %}
