{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<section class="content profile-page">
    <div class="container-fluid">
        <div class="block-header">
            <h2> Profile</h2>
            <small class="text-muted">Welcome to Swift Academie application</small>
        </div>        
        <div class="row clearfix">
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class=" card">
                    <img src="{{ asset('images/users/') ~ secretaire.imageName  }}" class="img-fluid" alt="">                              
                </div>
                <div class="card">
                    <div class="header">
                        <h2>About Secretaire</h2>
                    </div>
                    <div class="body">
                        <strong>Nom</strong>
                        <p>{{ secretaire.nom }}</p>
                        <strong>Prenom</strong>
                        <p>{{ secretaire.prenom }}</p>
                        <strong>Username</strong>
                        <p>{{ secretaire.username }}</p> 
                        <strong>Email ID</strong>
                        <p>{{ secretaire.email }}</p>
                        <strong>Telephone</strong>
                        <p>{{ secretaire.numero }}</p>
                        <hr>
                        <strong>Sexe</strong>
                        <p>{{ secretaire.sexe}}</p>
                        <hr>
                        <strong>Address</strong>
                        <address>{{ secretaire.adress }}</address>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body"> 
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#report">Description</a></li>
                            
                        </ul>
                        
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane in active" id="report">
                                <div class="wrap-reset">
                                    <div class="mypost-list">
                                        <div class="post-box">
                                            <p>{{ secretaire.description }} </p>
                                        </div>
                                        <hr>
                                        
                                        <hr>
                                        <h4>Domaine</h4>
                                        <ul class="dis">
                                            <li>{{ secretaire.domaine }}</li>
                                            
                                        </ul>
                                        <hr>
                                        <h4>Diplome</h4>
                                        <ul class="dis">
                                            <li>{{ secretaire.diplome }}</li>
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="timeline">
                                <div class="timeline-body">
                                    <div class="timeline m-border">
                                        <div class="timeline-item">
                                            <div class="item-content">
                                                <div class="text-small">Just now</div>
                                                <p>It is a long established.</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">11:30</div>
                                                <p>There are many variations</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning border-l">
                                            <div class="item-content">
                                                <div class="text-small">10:30</div>
                                                <p>Contrary to popular belief </p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-warning">
                                            <div class="item-content">
                                                <div class="text-small">3 days ago</div>
                                                <p>vacation</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text--muted">Thu, 10 Mar</div>
                                                <p>Contrary to popular belief</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Sat, 5 Mar</div>
                                                <p>Routine Checkup</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-danger">
                                            <div class="item-content">
                                                <div class="text-small">Sun, 11 Feb</div>
                                                <p>Blood checkup test</p>
                                            </div>
                                        </div>
                                        <div class="timeline-item border-info">
                                            <div class="item-content">
                                                <div class="text-small">Thu, 17 Jan</div>
                                                <p>Admission</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
