{% extends 'base.html.twig' %}

{% block title %}Eleve index{% endblock %}

{% block body %}
    <h1>Eleve index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Fonction</th>
                <th>Username</th>
                <th>ConfirmPassword</th>
                <th>ImageName</th>
                <th>UpdatedAt</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date_naissance</th>
                <th>Lieu_naissance</th>
                <th>Adress</th>
                <th>Security</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for eleve in eleves %}
            <tr>
                <td>{{ eleve.id }}</td>
                <td>{{ eleve.email }}</td>
                <td>{{ eleve.roles ? eleve.roles|json_encode : '' }}</td>
                <td>{{ eleve.password }}</td>
                <td>{{ eleve.fonction }}</td>
                <td>{{ eleve.username }}</td>
                <td>{{ eleve.confirmPassword }}</td>
                <td>{{ eleve.imageName }}</td>
                <td>{{ eleve.updatedAt ? eleve.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ eleve.nom }}</td>
                <td>{{ eleve.prenom }}</td>
                <td>{{ eleve.dateNaissance ? eleve.dateNaissance|date('Y-m-d') : '' }}</td>
                <td>{{ eleve.lieuNaissance }}</td>
                <td>{{ eleve.adress }}</td>
                <td>{{ eleve.security }}</td>
                <td>
                    <a href="{{ path('app_eleve_show', {'id': eleve.id}) }}">show</a>
                    <a href="{{ path('app_eleve_edit', {'id': eleve.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_eleve_new') }}">Create new</a>
{% endblock %}
