<th>Jour</th>
<th>Matiere</th>
<th>Professeur</th>
<th>Classe</th>
<th>Salle</th>
<th>Heure Debut</th>
<th>Heure Fin</th>

{{ form_start(form ,{'attr':{'class':'body'}})}}
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    {{ form_row(form.jour, {'attr':{type:"text"  ,'class':"form-select" ,'placeholder':"code clase" , 'require':""}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.matiere, {'attr':{'class':"form-select" ,'placeholder':"matiere" ,'require':""}}) }}
                </div>
            </div>
        </div>
        
    </div>
    <div class="row clearfix" >
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.professeur, {'attr':{'class':"form-select" ,'placeholder':"Professeur" ,'require':""}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.classe, {'attr':{'class':"form-select" ,'placeholder':"Classe" ,'require':""}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.heure_debut, {'attr':{'class':"form-control" ,'placeholder':"libelle" ,'require':""}}) }}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.heure_fin, {'attr':{'class':"form-control" ,'placeholder':"libelle" ,'require':""}}) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix" >
        <div class="col-md-12 col-sm-12">
            <div class="form-group">
                <div class="form-line">
                    &nbsp; {{ form_row(form.salle, {'attr':{'class':"form-control" ,'placeholder':"libelle" ,'require':""}}) }}
                </div>
            </div>
        </div>
    </div>    
        <div class="col-sm-12">
            <button type="submit" class="btn btn-raised g-bg-blush2">{{ button_label|default('submit') }}</button>
            <button  class="btn btn-raised btn-default">Cancel</button>
        </div>

    
{{ form_end(form) }}


                                       