{% extends 'base.html.twig' %}

{% block title %}EmploiTemps index{% endblock %}

{% block body %}
    <h1>EmploiTemps index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour</th>
                <th>Heure_debut</th>
                <th>Heure_fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploi_temp in emploi_temps %}
            <tr>
                <td>{{ emploi_temp.id }}</td>
                <td>{{ emploi_temp.jour }}</td>
                <td>{{ emploi_temp.heureDebut ? emploi_temp.heureDebut|date('H:i:s') : '' }}</td>
                <td>{{ emploi_temp.heureFin ? emploi_temp.heureFin|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_emploi_temps_show', {'id': emploi_temp.id}) }}">show</a>
                    <a href="{{ path('app_emploi_temps_edit', {'id': emploi_temp.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_emploi_temps_new') }}">Create new</a>
{% endblock %}
